@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}





<body class="simple-bg-screen" style="background-image:url(~/assets/img/banner-10.jpg);">
	@* <h1>@ViewData["Title"]</h1>
		<div class="row">
		<div class="col-md-4">
			<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
				<h2>Create a new account.</h2>
				<hr />
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
					<label asp-for="Input.Email">Email</label>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
					<label asp-for="Input.Password">Password</label>
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
					<label asp-for="Input.ConfirmPassword">Confirm Password</label>
					<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
				</div>
				<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
			</form>
		</div>
		<div class="col-md-6 col-md-offset-2">
			<section>
				<h3>Use another service to register.</h3>
				<hr />
				@{
					if ((Model.ExternalLogins?.Count ?? 0) == 0)
					{
						<div>
							<p>
								There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
									article
									about setting up this ASP.NET application to support logging in via external services
								</a>.
							</p>
						</div>
					}
					else
					{
						<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
							<div>
								<p>
									@foreach (var provider in Model.ExternalLogins!)
									{
										<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
									}
								</p>
							</div>
						</form>
					}
				}
			</section>
		</div>
	</div> *@

	@section Scripts {
		<partial name="_ValidationScriptsPartial" />
	}
	<div class="Loader"></div>
	<div class="wrapper">

		<!-- Title Header Start -->
		<section class="login-screen-sec">
			<div class="container">
				<div class="login-screen">
					<a href="index-2.html"><img src="~/assets/img/logo.png" class="img-responsive" alt=""></a>
						@* <form id="account" method="post"> *@
						<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
						<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
						
						<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
						<span asp-validation-for="Input.Email" class="text-danger"></span>

						<input asp-for="Input.Password" class="form-control" type="password"  autocomplete="new-password" aria-required="true" placeholder="password" />
						<span asp-validation-for="Input.Password" class="text-danger"></span>

						<input asp-for="Input.ConfirmPassword" class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="confirm password" />
						<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
						
						<select name="RoleID" class="form-control">
							<option value="JobSeeker">İş Arayan</option>
							<option value="Employer">İşveren</option>
						</select>	
						

						<button id="registerSubmit" type="submit" class="btn btn-login">Kayıt Ol</button>
						<span>You Have No Account? <a href="signup.html"> Create An Account</a></span>
						<span><a href="lost-password.html"> Forget Password</a></span>
					</form>
				</div>
			</div>
		</section>
		<button class="w3-button w3-teal w3-xlarge w3-right" onclick="openRightMenu()"><i class="spin fa fa-cog" aria-hidden="true"></i></button>
		<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
			<button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
			<ul id="styleOptions" title="switch styling">
				<li>
					<a href="javascript: void(0)" class="cl-box blue" data-theme="colors/blue-style"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box red" data-theme="colors/red-style"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box purple" data-theme="colors/purple-style"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box green" data-theme="colors/green-style"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box dark-red" data-theme="colors/dark-red-style"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box orange" data-theme="colors/orange-style"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box sea-blue" data-theme="colors/sea-blue-style "></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box pink" data-theme="colors/pink-style"></a>
				</li>
			</ul>
		</div>

		<!-- Scripts
		================================================== -->
		<script type="text/javascript" src="~/assets/plugins/js/jquery.min.js"></script>
		<script type="text/javascript" src="~/assets/plugins/js/viewportchecker.js"></script>
		<script type="text/javascript" src="~/assets/plugins/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="~/assets/plugins/js/bootsnav.js"></script>
		<script type="text/javascript" src="~/assets/plugins/js/select2.min.js"></script>
		<script type="text/javascript" src="~/assets/plugins/js/wysihtml5-0.3.0.js"></script>
		<script type="text/javascript" src="~/assets/plugins/js/bootstrap-wysihtml5.js"></script>
		<script type="text/javascript" src="~/assets/plugins/js/datedropper.min.js"></script>
		<script type="text/javascript" src="~/assets/plugins/js/dropzone.js"></script>
		<script type="text/javascript" src="~/assets/plugins/js/loader.js"></script>
		<script type="text/javascript" src="~/assets/plugins/js/owl.carousel.min.js"></script>
		<script type="text/javascript" src="~/assets/plugins/js/slick.min.js"></script>
		<script type="text/javascript" src="~/assets/plugins/js/gmap3.min.js"></script>
		<script type="text/javascript" src="~/assets/plugins/js/jquery.easy-autocomplete.min.js"></script>

		<!-- Custom Js -->
		<script src="~/assets/js/custom.js"></script>
		<script src="~/assets/js/jQuery.style.switcher.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$('#styleOptions').styleSwitcher();
			});
		</script>
		<script>
			function openRightMenu() {
				document.getElementById("rightMenu").style.display = "block";
			}

			function closeRightMenu() {
				document.getElementById("rightMenu").style.display = "none";
			}
		</script>
	</div>
</body>